.card_2 {
  display: flex;
  flex-direction: column;
  border-radius: calc(var(--border-radius) * 3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 400px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card_2 img {
  width: 100%;
  flex: 1;
  object-fit: cover;
  border-top-left-radius: calc(var(--border-radius) * 3);
  border-top-right-radius: calc(var(--border-radius) * 3);
}

.card_2-details {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}


.card_2-details h4 {
  font-size: var(--fs-subheading);
  font-weight: var(--fw-bold);
  color: var(--clr-text-dark);
  margin-bottom: 0.5rem;
}

.card_2-details p {
  font-size: var(--fs-small);
  color: var(--clr-text-light);
  line-height: 1.5;
}